{% extends '_templates/base.njk' %}

{% block page_title %}Restaurants{% endblock %}
{% block content %}
<article class="container">
  <h1>Austin restaurants</h1>
  <p>Find the most delicious meal in the 512!</p>
    <ul class="list-unstyled">
      <div class= "row">
      {% for food in restaurants.restaurants %}
        <div class= "col-sm-6 col-lg-6">
          <li class="media">
            {# images are not showing up #}
            <img src="img/{{ food.image }}" class="mr-3" alt="...">
            <div class="media-body">
              <h5 class="mt-0 mb-1"> {{ food.name }} </h5>
              <p>{{ food.address }}</p>
              <h6>{{ food.category }}</h6>
            </div>
          </li>
        </div>
      {% endfor %}
      </div>
    </ul>
</article>
{% endblock %}