{% extends '_templates/base.njk' %}

{% set relative_path = "../" %}

{% block page_title %}{{ name }}{% endblock %}

{% block page_description %}{{ title }} by {{ author }}{% endblock %}

{% block content %}
  <article class="container">
    <div class="row">
      <div class="baked-image">
          <img src="../img/landmarks/{{ image }}" alt="" class="img-fluid mb-4">
      </div>
      <div class="col-sm-12 col-lg-12">
          <h1>{{ name }}</h1>
          <img src="{{ image }}" alt="">
          <h3>{{ location }} </h3>
          <h5>{{ established }}</h5>
          <h6>{{ activities }}</h6>
          <p>{{ description | safe }}</p>
      </div>
    </div>
  </article>
{% endblock %}
