// Custom variable overrides
// See node_modules/bootstrap/scss/_variables.scss

$body-bg: rgb(255, 250, 227);
$body-color: black;
$link-hover-color: rgb(250, 209, 134);
$link-color: orange;

/* bootstrap */
// Option A: Include all of Bootstrap
@import "../../node_modules/bootstrap/scss/bootstrap";

// Option B: Include parts of Bootstrap
// See https://getbootstrap.com/docs/4.1/getting-started/theming/#importing

// Required
// @import "../../node_modules/bootstrap/scss/functions";
// @import "../../node_modules/bootstrap/scss/variables";
// @import "../../node_modules/bootstrap/scss/mixins"; 

// Import partials
@import "nav";

@import "jumbotron";

@import "restaurants";

@import "recreations";

@import "index";

.container {
  text-align: center;  
}

h1, h2, h3, h5 {
  font-family: 'Kavoon', cursive;
}

h3 {
  font-size: 1.5rem;
}


